### Задание № 1
    
Вернемся к [набору данных о видеоиграх](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/vgsales.csv).

Ответьте на следующие вопросы:

1. Как критики относятся к спортивным играм?
2. Критикам нравятся больше игры на PC или на PS4?
3. Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

- сформулируйте нулевую и альтернативную гипотезы;
    
- выберите пороговый уровень статистической значимости;
    
- опишите полученные результаты статистического теста.

In [1]:
import pandas as pd
from scipy import stats as st
import re

In [118]:
df = pd.read_csv('vgsales.csv')
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

### Как критики относятся к спортивным играм?

In [29]:
print('Cредняя оценка критиков ко всем играм:', df['Critic_Score'].mean())

Cредняя оценка критиков ко всем играм: 68.96767850559173

In [58]:
sport = df[df.Genre == 'Sports'].dropna()
sport.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E

H0: Критики относятся к спортивным играм примерно так же, как в среднем к играм  
H1: Критики относятся к спортивным играм лучше (или хуже), чем в среднем к играм

In [60]:
alpha = 0.05
result = st.ttest_1samp(sport['Critic_Score'], df['Critic_Score'].mean(), alternative='greater')

print(sport['Critic_Score'].mean())
print(result)

if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее значение больше, критикам нравятся спортивные игры')
else:
    print('Не отвергаем нулевую гипотезу, критики относятся к спортивным играм так же как к остальным')

74.17073170731707
Ttest_1sampResult(statistic=12.115634025870168, pvalue=8.385895667452786e-32)
Отвергаем нулевую гипотезу, среднее значение больше, критикам нравятся спортивные игры

### Критикам нравятся больше игры на PC или на PS4?

H0: Критикам одинаково нравятся игры на РС и на PS4  
H1: Критикам больше/меньше нравятся игра на РС, нежели на PS4

In [115]:
PC = df[df.Platform == 'PC'].Critic_Score.dropna()
PS4 = df[df.Platform == 'PS4'].Critic_Score.dropna()
print(PC.mean(), PS4.mean())

75.92867132867133 72.09126984126983

In [116]:
Platform = st.ttest_ind(PC, PS4, equal_var = False)
print(Platform)

if (Platform.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критики по разному относятся к играм на РС и на PS4')
else:
    print('Не отвергаем нулевую гипотезу, критики одинаково относятся к играм на разных платформах')

Ttest_indResult(statistic=4.3087588262138725, pvalue=2.067249157283479e-05)
Отвергаем нулевую гипотезу, критики по разному относятся к играм на РС и на PS4

### Критикам больше нравятся стрелялки или стратегии?

H0: Критикам одинаково нравятся стрелялки или стратегии  
H1: Критикам больше/меньше нравятся стрелялки относительно стратегии

In [128]:
Shooters = df[df.Genre == 'Shooter'].Critic_Score.dropna()
Strategy = df[df.Genre == 'Strategy'].Critic_Score.dropna()
print(Shooters.mean(), Strategy.mean())

70.18114406779661 72.08609271523179

In [130]:
Genre = st.ttest_ind(Shooters, Strategy, equal_var = False)
print(Genre)

if (Genre.pvalue < alpha):
    print('Отвергаем нулевую гипотезу, критикам больше нравятся стратегий')
else:
    print('Не отвергаем нулевую гипотезу, критикам одинаково нравятся стрелялки или стратегии')

Ttest_indResult(statistic=-2.2972408230640315, pvalue=0.021938989522304823)
Отвергаем нулевую гипотезу, критикам больше нравятся стратегий

### Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные [здесь](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/spam.csv)) по признаку спама. Для этого:

1. Привидите весь текст к нижнему регистру;
2. Удалите мусорные символы;
3. Удалите стоп-слова;
4. Привидите все слова к нормальной форме;
5. Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

```
from sklearn.feature_extraction.text import TfidfVectorizer  
tfidf = TfidfVectorizer()  
tfidf_matrix = tfidf.fit_transform(df.Message)  
names = tfidf.get_feature_names()  
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
```

Можете поэкспериментировать с параметрами [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html);

6. Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите `random_state=42`. Используйте [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html);

7. Постройте модель [логистической регрессии](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html), укажите `random_state=42`, оцените ее точность на тестовых данных;  

8. Опишите результаты при помощи [confusion_matrix](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html?highlight=confusion_matrix#sklearn.metrics.confusion_matrix); 

9. Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [3]:
spam = pd.read_csv('spam.csv')
spam

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [24]:
#Привидите весь текст к нижнему регистру
text_lower_case = [text.lower() for text in spam['Message']]
text_lower_case[1]

'ok lar... joking wif u oni...'

In [25]:
#Удалите мусорные символы
only_word_text = [re.sub('[\W_]+', ' ', text) for text in text_lower_case]
only_word_text[1]

'ok lar joking wif u oni '

In [38]:
texts_splitted = [text.split() for text in only_word_text]

In [101]:
#Удалите стоп-слова
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))
without_sw = [[word for word in text if word not in stopwords_set] for text in texts_splitted]
without_sw[1]

['ok', 'lar', 'joking', 'wif', 'u', 'oni']

In [100]:
#Привидите все слова к нормальной форме
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
lemmatized_text = [[wordnet_lemmatizer.lemmatize(word) for word in text] for text in without_sw]
lemmatized_text[1]

['ok', 'lar', 'joking', 'wif', 'u', 'oni']

In [151]:
spam['Message'] = [' '.join(row) for row in lemmatized_text]
spam

     Category                                            Message
0         ham  go jurong point crazy available bugis n great ...
1         ham                            ok lar joking wif u oni
2        spam  free entry 2 wkly comp win fa cup final tkts 2...
3         ham                u dun say early hor u c already say
4         ham                nah think go usf life around though
...       ...                                                ...
5567     spam  2nd time tried 2 contact u u 750 pound prize 2...
5568      ham                        ü b going esplanade fr home
5569      ham                               pity mood suggestion
5570      ham  guy bitching acted like interested buying some...
5571      ham                                     rofl true name

[5572 rows x 2 columns]

In [152]:
#Преобразуйте все сообщения в вектора TF-IDF.
from sklearn.feature_extraction.text import TfidfVectorizer  

tfidf = TfidfVectorizer()  
tfidf_matrix = tfidf.fit_transform(spam.Message) 
names = tfidf.get_feature_names()  
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [157]:
X = tfidf_matrix 
y = spam['Category']

In [158]:
#Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [160]:
#Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=42)
clf.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [171]:
clf.predict(X_test)

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [164]:
model.score(X_test, y_test)

0.958732057416268

In [175]:
#Опишите результаты при помощи confusion_matrix
from sklearn.metrics import confusion_matrix
y_pred = clf.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[1445,    3],
       [  66,  158]], dtype=int64)

In [197]:
#Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно 
#(с указанием фактического и предсказанного).
df = spam.iloc[y_test.index]
df = pd.DataFrame(df)
df['Predicted Category'] = y_pred
df[df['Predicted Category'] != df['Category']]

,Category,Message,Predicted Category
2952,ham,hey free call,spam
881,spam,reminder downloaded content already paid goto ...,ham
1961,spam,guess somebody know secretly fancy wanna find ...,ham
3864,spam,oh god found number glad text back xafter msg ...,ham
2575,spam,next amazing xxx picsfree1 video sent enjoy on...,ham
...,...,...,...
4543,spam,freemsg hi baby wow got new cam moby wanna c h...,ham
752,spam,important customer service announcement premier,ham
309,spam,themob check newest selection content game ton...,ham
495,ham,free call,spam
305,spam,sm ac blind date 4u rodds1 21 aberdeen united ...,ham